<% content_for :title, "Edit student" %>
<div class="form-create-student">
  <div class="inner-form">
    <div class="col-sm-7 start_form">
      <h1>Update student Record</h1>
      <%= render 'form', student: @student%>
    </div>
  </div>
</div>