.main-wraper{     
  width:100%;
  background:#fafafa;
  font-family: 'Lato', sans-serif;
  .inner{
    max-width:1000px;
    padding:20px;
    margin:0 auto;
    .colr{
      width:100%;
      background: #fff;
      border-radius: 6px;
      box-shadow: 0 0 3px #999898;
    }
    .create_buttons{
      margin-top: 60px;
      background: #f8f8f8;
      
      display: flex;
      flex-direction: row;
      a{
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 7px;
        width: 50%;  
        &:hover{
          color: #fff;
          background: #7ebeff;
          box-shadow: 0 8px 6px -6px #00000094;
        }
        .tob-btn{
          border-right: 1px solid;
        }
      }
    }
    .student-profile{
      .table-responsive{
        overflow-x: initial;
      }
    }
  }

  a.new-student-path {
    float: right;
    display: block;
    margin-top: -46px;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background: #4e94fc;
    color: #fff;
    text-decoration: none;

    &:hover {
      background: #589bff;
    }
  }
  .top_navbar{
    width:100%;
    float:left;
    background-color: #4e94fc;
    ul{
      list-style: none;
      float: right;
      margin: 0;
      margin-right: 32px;
      border-radius: 0px 0px 14px 14px;
      background: #494949c4;
      padding: 0;
      @media screen and (max-width:480px){
        margin-right: 0px;
      }
      li{
        float:left;

        a{
          padding: 6px 10px;
          display: inline-block;
          text-decoration: none;
          color: #dfdfdffc;
          font-size:13px;
          @media screen and (max-width:480px){
            padding: 6px 8px;
            font-size:12px;
          }
          &:hover{
            color:#fff3f3fc;
          }
        }
      }
    }
  }

  p.student-counter {
    margin-bottom: -10px;
    font-weight: 900;
    margin-top: 20px;
  }
.stud-list .nav-tabs > li a.active {
  background: #fff !important;
}
img.paid-stamp {
    position: absolute;
    top: 15px;
    width: 38px;
    left: 36px;
}
  .stu_section{
      padding: 60px 30px;
      border-bottom: 1px solid #d8d7d7;
      /*col-5*/
        .carousel-inner{
          .item{
            .adhar-inner {
              width: 100%;
              height: 240px;
            }
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
              @media screen and (max-width:768px){
                width:100%;
                height:auto;
              }
            }
          }
        }
      .mybtn{
        text-align:center;
        margin-top: 15px;
        .btn{
          padding: 2px 8px;
          outline: none;
          color: #fff;
          box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
          font-weight: 700;
          background: #4e94fc;
        }
      }

      /*col-7*/
      .studt-name{
        @media screen and (max-width:767px){
          margin: 0 auto;
          margin-top: 25px;
          text-align: center;
        }
        h2{
          font-size:22px;
          margin-top:0px;
          color:#000;
          font-weight: 900;
        }
        h3{
          font-size: 15px;
          margin-top: 16px;
          font-weight: 600;
          color:#000;
          span{
            margin-left:8px;
            font-weight: normal;
          }
        }
      }
    }
    .fee-info{
      padding:50px 0px;
      margin-top: 10px;
      .fee-inner{
        padding:0px 20px;
        /*text-align:center;*/
        h3{
          margin-top: 0px;
        }

        p.text-center {
          margin-bottom: 30px;
          margin-top: -5px;
        }
        .mya{
          background: #28a745;
          color:#fff;
        }
        a{
          margin: 10px;
          padding: 10px;
          background: #ffffff;
          text-decoration: none;
          margin-bottom: 20px;
          display: block;
          border-radius: 20px;
          text-align: center;
          color: #28a745;
          font-weight: 600;
          box-shadow: 0 1px 6px rgba(57,73,76,0.35);
        }

        a.fee-info-btn {
          display: block;
          position: relative;
          top: 20px;
          border: none !IMPORTANT;
        }
      }
    }
    /*rails*/

    .field{
      text-align:center;
      position: relative;
      .cstm{
          width: 54%;
          margin: 0 auto;
          height:40px;
          font-size:16px;
          color: #1c1b1b;
          border-radius:0px;
          @media screen and (max-width:680px){
              width:100%;
          }
        }
        label{
          font-size: 21px;
          margin-bottom: 8px;
          font-weight: normal;
          display:block;
        }
        .actions{
          text-align:center;
          input{
              position: absolute;
              right: 23%;
              top: 37px;
              padding: 10px 28px;
              border: none;
              background: #4e94fc;
              color: #fff;
              font-weight: bold;
              border-radius: 0px;
              outline: none;
              @media screen and (max-width:680px){
                right:0%;
              }
              &:hover{
                background:#61a9f4
              }
          }
        } 
    }
    .stud-list{
      width:100%;
      .lft-sid-cl{
        padding:0;
      }

      .tab-content{
        margin-top: 30px;
        padding: 0px 20px;
        .btn_table{
          margin: 26px 0px 10px 0px;
          th{
            width: 160px;
            border: 1px solid #dddddd;
            a{
              color: #595959;
              padding: 5px 7px;
              text-decoration: none;
              font-size: 13px;
              display: block;
              &:hover{
                background: #ddd;
                color: #000;
              }
            }
          }
        }
      }
      .clr{
        background:#637fcf;
        height:100vh;
        h1{
          font-size: 19px;
          color: #fff;
          padding: 24px 0px 12px 30px;
          font-weight: 100;
          margin-top: 0;
        }
      }
      ul{
        border-bottom: none;
        padding: 0px;
        
      }
      .nav-tabs>li{
        float:none;
        list-style:none;
        width:100%;
        a{
          background-color: #637fcf;
          border:none;
          text-decoration:none;
          display:block;
          padding:10px 30px;
          color: #fff;
          border-radius: 0;
          margin: 0px;
          font-size:16px;

          &.active {
            background: #fff;
          }
          &:hover{
              color: #637fcf;
              background-color: #fff !important;
              border:none;
              border-bottom-color: none;
            }
            &:focus{
              color: #637fcf;
              background-color: #fff !important;
              border: none;
              border-bottom-color: none;
            }
        }
        
      }
    }
    .stu_table{
        border-top: 2px solid #f1f1f1;
    }
    
}

/*=======log_in_page==============*/

.log_in_page{
  width:100%;
  .top-clr{
    background:#4e94fc;
    padding: 42px 0px 150px 0px;
    text-align:center;
    h1{
      color:#fff;
      font-weight: 900;
    }
  }
  .bottom-clr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 200px 0px;
    background: #ffffff;
    .center_form{
      background:#fff;
      padding:20px 0px;
      margin-top: -350px;
      box-shadow: 0 0 10px #00000036;
      .center_form-inner{
        padding:30px 30px 15px 30px;
        border-bottom: 1px solid #dfdfdf47;
      }
      h1{
        text-align: center;
        margin: 0px 0px 40px 0px;
        font-weight: 100;
        color: #8b8b8b;
        font-size: 22px;
      }

      .form-control{
        display: block;
        width: 100%;
        height: 34px;
        padding: 22px 0px 20px 1px;
        font-size: 15px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: none;
        border-radius: 0px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid #efeeee;
      }
      /*backend*/
      h2{
        font-size: 18px;
        padding: 0px 30px;
        color: #f8764c;
      }
      ul{
        list-style: none;
        padding: 0 30px;
        margin: 0;
        color: #f8764c;
      }
      label{
        font-size: 15px;
        margin-left: 4px;
        font-weight: normal;
        color: #9d9d9d;
      }
      .forget_btn{
          input[type="submit"]{
            width: 100%;
            border: none;
            padding: 10px 0px;
            color: #fff;
            background: #4e94fc;
            border-radius: 2px;
            font-size: 15px;
            border: 1px solid #4e94fc;
            transition:.3s;
            &:hover{
              color:#4e94fc;
              background:#fff;

            }
          }
        }

      .log-footer{
        padding:30px;
        input[type="submit"]{
          position: absolute;
          right: 30px;
          bottom: 38px;
          border: none;
          padding: 6px 26px;
          font-size: 15px;
          font-weight: 600;
          color: #fff;
          background: #4e94fc;
          border: 1px solid #4e94fc;
          border-radius: 2px;
          outline:none;
          &:hover{
            background:#fff;
            color:#4e94fc;
            transition:.3s;
          }
        }
        a{
          color: #9d9d9d;
        }
        .log_forget{
          a{
            position: absolute;
            right: 30px;
            bottom: 20px;
            border: none;
            padding: 6px 26px;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            background: #4e94fc;
            border: 1px solid #4e94fc;
            text-decoration:none;
            border-radius: 2px;
            transition:.3s;
            &:hover{
              background:#fff;
              color:#4e94fc;
            }
          }
        }
      }
    }
  }
}



/*====create_student_form===new scss==*/

.form-create-student{
  background: #efefef;
  width:100%;
  color:#575757;
  padding:50px 0px;
  font-family: 'Lato', sans-serif;
  .inner-form{
    max-width:880px;
    margin:0 auto;
    background:#fff;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px #00000026;
    padding-bottom: 25px;
    h1{
      margin-bottom: 50px;
      text-align: center;
      font-size: 28px;
      display:block;
      margin-top:50px;
    }
    .start_form{
      margin:0 auto;
      .form-group{
        margin-bottom: 25px;
      }
      
      
      label{
        margin-left:5px;
        font-size:13px;
        
      }
      input{
        height:38px;
        box-shadow:none;
        outline: none;
        &:focus{
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
      }
      input#student_student_detail_attributes_uid_pic{
        color:#69696a;
        height: 28px;
        padding: 2px 3px;
      }
      .sm{
        width:50%;
      }
      select{
          display: block;
          width: 30%;
          height: 34px;
          padding: 6px 12px;
          font-size: 16px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline:none;
        }
        .bttn{
          background: #7ebeff;
          color: #fff;
          font-weight: bold;
          font-size: 16px;
          transition:.5s;
          border:1px solid #7ebeff;
          &:hover{
            background:#fff;
            color:#7ebeff;
          }
        }
    }

    .attachment{
    margin-bottom:25px;
      input{
        display:inline-block;
        width: 40%;
      }
      a.remove_fields.dynamic{
        color: #575757;
      }
      .links{
        margin-top: 10px;
        margin-left: 2px;
        a{
          color: #575757;
        }
      }
    }
  }

}

/*js for all*/
label.error{
  color:#ed7171f5 !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #fff !important;
  color: #637fcf !important;
}

