<div class="main-wraper">
<nav class="top_navbar">
  <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1">
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div> -->
    <!-- <div class="collapse navbar-collapse" id="myNavbar"> -->
      
      <ul class="">
        <li>
          <%=link_to root_path do%>
            <i class="fas fa-home" ></i> Home
          <%end%>
        </li>
        <!-- <li><%#= link_to "Create New Admin", new_admin_path %></li> -->
        <li><%= link_to "Create New Student", new_student_path %></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "login", new_user_session_path %> 
          <% end %>
        </li>
      </ul>
    <!-- </div> -->
  </div>
</nav>
</div>